/* 
    Document   : app
    Created on : 2013-6-16, 9:30:07
    Author     : http://blog.wumashi.com
    Description:
        Purpose of the stylesheet follows.
*/
body{padding: 10px}

.filter{margin-bottom: 20px}
.table-th-right th{text-align: right}

.form-horizontal p {padding: 4px 6px;padding-left:10px;padding-top: 5px;float:left}

.form-horizontal .btn {margin-left:180px}

.clear{clear:both}